:root {
  --light-gray: #9098a9;
  --checked: #78d116;
}

.checkbox {
  display: flex;
  align-items: baseline;
}

.checkbox label {
  font-size: 1.2em;
  white-space: nowrap;
}

.checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  font: inherit;
  border: 0.1em solid var(--light-gray);
  margin-bottom: -0.125em;
  margin-right: 0.3125em;
}
.checkbox input[type='checkbox'] {
  border-radius: 0.25em;
}
.checkbox input:checked {
  border-color: var(--light-gray);
  background: var(--checked) border-box;
  box-shadow: 0 0 0 0.1em inset #fff;
}
