:root {
  /* application */
  --application-background-color: #F5F5F5;
}

/* Styling */
html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-color: var(--application-background-color);
  display: flex;
  justify-content: center;
}

#app {
  max-width: 840px;
  margin: 0 1.875em;
}